<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8" />
<title>Добавление контента</title>

<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
</head>
<body>

	<div layout:fragment="content">
		<div class="row pb-3 pt-3 justify-content-center">
			<div class="col-5" th:align="center">
				<h3>Добавление термина</h3>
				<!--  Окошко сообщения  -->
				<div th:if="${message}">
					<div class="alert alert-danger alert-dismissible fade show"
						th:class="${message.type}" role="alert">
						Ввод нового термина:
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="alert alert-danger alert-dismissible fade show"
							th:class="${message.type}" role="alert"
							th:text="${message.message}">Ввод нового термина:</div>
					</div>
				</div>
			</div>
		</div>
		<form th:action="@{/write/saveDefinition}" method="post"
			th:object="${def}">

			<div class="row justify-content-center">
				<div class="col-5">
					<div>
						<label><strong>Термин:</strong></label>
						<div class="input-group">
							<input type="text" class="form-control" id="term"
								autocomplete="off" th:field="*{term}" />
							<div class="input-group-append">
								<span class="input-group-text"><i
									class="fab fa-tumblr-square"></i></span>
							</div>
						</div>
					</div>
					<div>
						<label><strong>Источник:</strong></label>
						<div class="input-group">
							<input type="text" class="form-control" id="source"
								autocomplete="off" th:field="*{source}" />
							<div class="input-group-append">
								<span class="input-group-text"><i
									class="fab fa-tumblr-square"></i></span>
							</div>
						</div>
					</div>
					<div>
						<label><strong>Определение:</strong></label>
						<div class="input-group">
							<textarea class="form-control" rows="10" id="defText"
								autocomplete="off" th:field="*{definition}"></textarea>
							<div class="input-group-append">
								<span class="input-group-text"><i
									class="fab fa-tumblr-square"></i></span>
							</div>
						</div>
					</div>

					<div class="mt-3" align="right">
						<button class="btn btn-sm btnDef" type="submit">Сохранить</button>
					</div>
				</div>
			</div>
		</form>

	</div>

</body>
</html>