<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
</head>
<body>
	<th:block th:fragment="footer" th:align="left">
		<footer class="text-white"
			style="height: 4vh; width: 100vw; position: fixed; bottom: 0; text-align: center; background: linear-gradient(135deg, #1240AB, #6C8CD5 50%, #6C8CD5 85%);">
			&copy; Alex Dorokhin <span sec:authorize="isAuthenticated()"
				style="display: inline-block;"> | Имя пользователя: <span
				sec:authentication="name"></span> | <a th:href="@{/myLogout}"><span
					class="text-white">Выйти</span></a>
			</span>
		</footer>
	</th:block>
</body>
</html>