<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8" />
<head>
<body>
	<th:block th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark static-top mb-1"
			style="height: 8vh; background: linear-gradient(45deg, #1240AB, #6C8CD5);">
			<div class="container-fluid">
				<button id="btnMenu" class="btn btn-outline-light"
					style='margin: 10px;'>
					<i class="fas fa-align-left"></i> <span>Меню</span>
				</button>
				<a class="navbar-brand" th:href="@{/home}"> <img
					th:src="@{/img/header.jpg}" height="50px" align="left" />
				</a>
				<h4 class="text-white">
					<span> Hi!</span>
				</h4>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive"
					th:align="right">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/home}">На главную <span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/help}"
							target="_blank"><span class="text-white">Справка</span></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><span
								class="text-white">О программе</span></a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/editProfile}"><span class="text-white">Редактировать
									профиль</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#btnMenu').on('click', function() {
					handleBtnMenuClick();
				});
			});
			// Обработка нажатия кнопки  для открытия панели меню
			function handleBtnMenuClick() {
				$('#sidebar').addClass('active');
				$('.overlay').addClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			}
		</script>
	</th:block>

</body>
</html>