<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Помощник
	(Демо)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet" th:href="@{/css/menuStyle.css}" />
<link th:rel="stylesheet" th:href="@{/css/ipaMain.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="conteiner">
		<div class="row">
			<div class="col">
				<div th:replace="fragments/menu :: menu"></div>
				<div class="col" layout:fragment="content"></div>
			</div>
		</div>
	</div>
	<footer th:insert="fragments/footer :: footer" class="footer">
	</footer>

</body>
</html>