<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="utf-8" />
<head>
</head>
<body>
	<th:block th:fragment="menu">

		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar">
				<div id="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>

				<div class="sidebar-header">
					<h3>Меню</h3>
				</div>

				<ul class="list-unstyled menu-elements">
					<li sec:authorize="hasAnyRole('ADMIN', 'WRITER')"><a href="#SectionsWrite"
						data-toggle="collapse" aria-expanded="true"
						class="dropdown-toggle" role="button"
						aria-controls="SectionsWrite">Ввод данных </a>
						<ul class="collapse list-unstyled" id="SectionsWrite">
							<li><a class="scroll-link" th:href="@{/write/addTerm}"
								th:onclick="handleCloseMenu()">Определение</a></li>
						</ul></li>
					<li><a href="#SectionsSpr" data-toggle="collapse"
						aria-expanded="false" class="dropdown-toggle" role="button"
						aria-controls="SectionsSpr">Справочники </a>
						<ul class="collapse list-unstyled" id="SectionsSpr">
							<li><a class="scroll-link" th:href="@{/home}"
								th:onclick="handleCloseMenu()">menu1</a></li>
						</ul></li>
				</ul>

			</nav>
			<!-- End sidebar -->
		</div>

		<script type="text/javascript">
			$(document)
					.ready(
							function() {
                                // закрытие меню по кнопке
								$('#dismiss, .overlay').on('click', function() {
									handleCloseMenu();
								});

								var list = document
										.getElementsByClassName("collapse list-unstyled");
								// добавление обработчика открытия на все списки меню
								for (i = 0; i < list.length; i++) {
									$(list[i]).on('show.bs.collapse',
											function(e) {
												closeAnotherMenus(e.target);
											});
								}

							});

			// свернуть все раскрытые списки кроме текущего
			function closeAnotherMenus(curMenu) {
				var items = document
						.getElementsByClassName("collapse list-unstyled");
				for (i = 0; i < items.length; i++) {
					if (items[i] != curMenu) {
						if ($(items[i]).hasClass('show')) {
							$(items[i]).collapse('hide');

						}
					}
				}
			}
			function handleCloseMenu() {
				$('#sidebar').removeClass('active');
				$('.overlay').removeClass('active');
			}
		</script>
	</th:block>

</body>
</html>


