<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Подготовка к собеседованию (Демо) - Авторизация</title>

<link th:rel="stylesheet" th:href="@{/css/ipaMain.css}" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

</head>
<body>

	<div class="row p-3 justify-content-center">
		<div class="col-2 mt-3">
			<div th:if="${param.error}">
				<div class="alert alert-danger">Неправильное имя входа или
					пароль</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-2">
			<form th:action="@{/login}" method="post">
				<div class="mt-3 mb-3">
					<label for="name">Логин:</label> <input type="text" id="username"
					name="username"	class="form-control" autofocus="autofocus" placeholder="quest">
				</div>
				<label for="password">Пароль:</label> <input type="password"
					id="password" name="password" class="form-control"
					placeholder="Password">
				<div id="lower" class="mt-3" th:align="right">
					<input type="submit" class="btn btn-sm btnDef" value="Войти">
				</div>
			</form>
		</div>
	</div>

</body>
</html>






