<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Домашняя страница</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col mt-3" th:align="center">
				<h1>
					Здравствуйте<span sec:authorize="isAuthenticated()">, <span
						sec:authentication="principal.firstName"></span> <span
						sec:authentication="principal.lastName"></span></span>! Добро пожаловать.
				</h1>
				<!--  Окошко сообщения  -->
				<div th:if="${message}">
					<div class="alert alert-danger alert-dismissible fade show"
						th:class="${message.type}" role="alert">
						Помощник (Демо):
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="alert alert-danger alert-dismissible fade show"
							th:class="${message.type}" role="alert"
							th:text="${message.message}"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-2 mt-3">
				<div>
					<label><strong>Поиск:</strong></label>
					<div class="input-group">
						<input type="text" class="form-control" id="find"
							autocomplete="off" />
					</div>
				</div>
			</div>
			<div class="col-10 mt-3">
				<h4 th:text="${def.term+' - '+def.definition}"></h4>
			</div>

		</div>

	</div>
</body>
</html>